<launch>

    <!-- <include file="$(find rotors_gazebo)/launch/elios.launch">
        <arg name="mav_name" default="elios"/>
        <arg name="world_name" default="comstock"/>
    </include> -->
    
    <node pkg="ctrl_planner" name="RunSimTest" type="RunSimTest.py" output="screen">
    </node>

</launch>